@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
}

.ql-editor {
  font-size: 1.05rem;
}

.ql-syntax {
  width: 100%;
  display: block;  
  flex-wrap: wrap;  
  word-wrap: break-word;  
  overflow-wrap: break-word;  
  white-space: pre-wrap; 
}


.post-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; 
  white-space: wrap;  
  width: 100%;
   
}

.post-content p { 
  width: 100%;
  margin-bottom: 0.5rem;
  flex-wrap: wrap;
}
.post-content span {
  width: 100%;
  margin-bottom: 0.5rem;
  flex-wrap: wrap;
}

.post-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content h2 {
  font-size: 1.4rem;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content a {
  color: rgb(73, 149, 199);
  text-decoration: none;
}

.post-content a:hover {
  text-decoration: underline;
}

.dark .post-content a {
  color: red;
}

.post-content ul{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.post-content li{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}